{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rexon</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
    <!-- <script type="text/javascript" src="{% static 'js/cart.js' %}"></script> -->
    {% block extrahead %}{% endblock %}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <body>

    <style>
        #nav-bar #cart-counter{
           user-select: none;
           position: absolute;
           background: red;
           width:1.3rem;
           height: 1.3rem;
           font-size: 8px;
           border-radius: 50%;
           font-weight: bold;
           display: flex;
           align-items: center;
           justify-content: center;
           right: 110px;
           bottom:40px;
        }
    </style>
    
    <section id="header">
        <a href="#"><img src="{% static 'img/logo.png' %}" alt=""></a>
        <div>
            <nav>
                <ul id="nav-bar">
                    <li><a class="active"  href="{% url 'index' %}">HOME</a></li>
                    <li><a class="active" href="{% url 'shop' %}">SHOP</a></li>
                    <li><a class="active" href="{% url 'about' %}">ABOUT</a></li>
                    <li><a class="active" href="{% url 'contact' %}">CONTACT US</a></li>
                    <li><a class="active" href="{% url 'cart' %}"><span id="cart-counter">0</span><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
        </div>
    </section>



    {% block content %}
    
    {% endblock%}

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="{% static '/img/logo.png' %}" alt="">
            <h4>Contact</h4>
            <p><strong>Address:</strong>7th Floor, Garvebhavipalya, Hosur Road, Bangalore – 560068, Karnataka, India.</p>
            <p><strong>Phone: </strong> +917904107266</p>
            <p><strong>Hours: </strong> 10:00 - 18:00,Mon - Sat</p>
            <div class="follow">
                <h4>Follow Us</h2>
                    <div class="icon">
                        <!-- add social media icons -->
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>

                    </div>
            </div>
        </div>

        <div class="col about">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms and Conditons</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col account">
            <h4>My Account</h4>
            <a href="#">Sign in</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="{% static '/img/pay/app.jpg' %}" alt="">
                <img src="{% static '/img/pay/play.jpg' %}" alt="">
            </div>

            <p>Secured Payment Gateways</p>
            <img src="{% static '/img/pay/pay.png' %}" alt="">
        </div>

        <div class="copy">
            <p>© 2022 Acme, Inc. All rights reserved.</p>
        </div>
    </footer>

    <script>
        // var user= '{{request.user}}'

        // function getCookie(name) {
        // let cookieValue = null;
        // if (document.cookie && document.cookie !== '') {
        //     const cookies = document.cookie.split(';');
        //     for (let i = 0; i < cookies.length; i++) {
        //         const cookie = cookies[i].trim();
        //         // Does this cookie string begin with the name we want?
        //         if (cookie.substring(0, name.length + 1) === (name + '=')) {
        //             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        //             break;
        //         }
        //     }
        // }
        // return cookieValue;
        // }
        // const csrftoken = getCookie('csrftoken');
    </script>
</body>
</html>