{% extends "esite/base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block content %}
<section id="contactheader" class="section-p1">
    <h2>Thank you for choosing us! </h2>
    <p> We appreciate it.</p>
</section>


<section id="cart" class="section-p1 cart">
    <table width="100%">
        <thead>
            <tr>
                <th>Remove</th>
                <th>Product</th>
                <th>Image</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}

            <tr>        
                <td><a href="#"><i class="far fa-times-circle"></i></a></td>

                <td>
                    {{item.product.display_name}}
                </td>

                <td>
                    {% if item.product.image %}
                    <img src="{{ item.product.image.url }}"  alt="">
                    {% endif %}
                </td>

                <td id="product_price">{{item.product.price}}</td>

                <td><input type="number" value="{{item.quantity}}" oninput="calc()" name="quantity" id="quantity"></td>

                <td id="subtotal">{{item.get_total}}</td>
            </tr>
            {% endfor %}
           
        </tbody>
    </table>
</section>


<section id="cart-add" class="section-p1">
    <div id="couponcode">
        <h3>Apply Coupon</h3>
        <div>
            <input  type="text" name="" id="" placeholder="Enter Your Coupoun">
            <button class="addcartBtn">Apply</button>
        </div>
    </div>

    <div id="subtotal">
        <h3>Cart Totals</h3>
        <table>
            <tr>
                <td>Total Items</td>
                <td id="total_items">{{order.get_cart_items}}</td>
            </tr>
            <tr>
                <td>Cart Subtotals</td>
                <td id="cart_subtotal">{{order.get_cart_total}}</td>
            </tr>
            <tr>
                <td>Shipping</td>
                <td>Free</td>
            </tr>
            <tr>
                <td>Shipping Address</td>
                <td>Address<br><span>City</span><br><span>State</span><br><span>Zipcode</span><br></td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td><strong>$334</strong></td>
            </tr>
        </table>
        <button type="submit">Proceed to Checkout</button>
    </div>

    <script>
        function calc(){
            console.log("calc calling");
            var quantity = document.getElementById('quantity').value;
            var price = (document.getElementById('product_price')).innerHTML;
            subtotal = quantity * price;
            document.getElementById('subtotal').innerHTML = subtotal;

            var total_subtotal = '';
            var cart_subtotal = document.getElementById('cart_subtotal');
            var subtotal = document.getElementById('subtotal').innerHTML;
            total_subtotal += subtotal;
            document.getElementById('cart_subtotal').innerHTML = total_subtotal;
        }


    
    </script>

</section>

{% endblock %}


</body>
</html>