{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rexon</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <body>
    
    <section id="header">
        <a href="#"><img src="{% static 'img/logo.png' %}" alt=""></a>
        <div>
            <nav>
                <ul id="nav-bar">
                    <li><a class="active" href="index.html">HOME</a></li>
                    <li><a class="active" href="shop.html">SHOP</a></li>
                    <li><a class="active" href="blog.html">BLOG</a></li>
                    <li><a class="active" href="about.html">ABOUT</a></li>
                    <li><a class="active" href="contact.html">CONTACT</a></li>
                    <li><a class="active" href="cart.html"><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
        </div>
    </section>

    <section id="hero">
        <h4>Trade-in-Offer</h4>
        <h2>Super Value deal</h2>
        <h1>On all our products</h1>
        <p>Save more with coupouns & up to 70% off!</p>
        <button>SHOP NOW</button>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="{% static '/img/features/f1.png' %}" alt="">
            <h6>Free Shipping</h6>
        </div>
        <div class="fe-box">
            <img src="{% static '/img/features/f2.png' %}" alt="">
            <h6>Online Order</h6>
        </div>
        <div class="fe-box">
            <img src="{% static '/img/features/f3.png' %}" alt="">
            <h6>Save Money</h6>
        </div>
        <div class="fe-box">
            <img src="{% static '/img/features/f4.png' %}" alt="">
            <h6>Promotions</h6>
        </div>
        <div class="fe-box">
            <img src="{% static '/img/features/f5.png' %}" alt="">
            <h6>Happy Sell</h6>
        </div>
        <div class="fe-box">
            <img src="{% static '/img/features/f6.png' %}" alt="">
            <h6>F24/7 Support</h6>
        </div>
    </section>


    <section id="product1" class="section-p1">
        <h2>Featured Products</h2>
        <p>Summer Collection New Modern Design</p>

        <div class="container">

            <div class="pro">
                <img src="{% static '/img/products/f1.jpg' %}" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Berhohh T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$56</h4>
                </div>
                <a href=""><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            

            <div class="pro">
                <img src="{% static '/img/products/f2.jpg' %}" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Berhohh T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$56</h4>
                </div>
                <a href=""><i class="fas fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="{% static '/img/products/f3.jpg' %}" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Berhohh T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$56</h4>
                </div>
                <a href=""><i class="fas fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="{% static '/img/products/f4.jpg' %}" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Berhohh T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$56</h4>
                </div>
                <a href=""><i class="fas fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="{% static '/img/products/f5.jpg' %}" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Berhohh T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$56</h4>
                </div>
                <a href=""><i class="fas fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="{% static '/img/products/f6.jpg' %}" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Berhohh T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$56</h4>
                </div>
                <a href=""><i class="fas fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="{% static '/img/products/f7.jpg' %}" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Berhohh T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$56</h4>
                </div>
                <a href=""><i class="fas fa-shopping-cart cart"></i></a>
            </div>

        </div>
    </section>


    <section id="banner" class="section-m1">
        <h4>Repair Services</h4>
        <h2>Up to <span>70% Off</span> - All T-Shirts & Accessories</h2>
        <button class="ex-more">Explore More</button>
    </section>

    <section id="new-arrivals" class="section-p1">
        <h2>New Arrivals 2022</h2>
        <p>Fresh fashion picks are here shop the lastest looks added this month</p>

        <div class="container">

            <div class="pro">
                <img src="{% static '/img/features/n1.png' %}" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Berhohh T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$56</h4>
                </div>
                <a href=""><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            

            <div class="pro">
                <img src="{% static '/img/features/n2.png' %}" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Berhohh T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$56</h4>
                </div>
                <a href=""><i class="fas fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="{% static '/img/features/n3.png' %}" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Berhohh T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$56</h4>
                </div>
                <a href=""><i class="fas fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="{% static '/img/features/n4.png' %}" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Berhohh T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$56</h4>
                </div>
                <a href=""><i class="fas fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="{% static '/img/features/n5.png' %}" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Berhohh T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$56</h4>
                </div>
                <a href=""><i class="fas fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="{% static '/img/features/n6.png' %}"alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Berhohh T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$56</h4>
                </div>
                <a href=""><i class="fas fa-shopping-cart cart"></i></a>
            </div>

        </div>
    </section>


    <section id="sm-banner" class="section-p1">
        <div class="banner-box">
            <h4>Crazy Deals</h4>
            <h2>buy 1 get 1 free</h2>
            <span>The best classic dress is one sale dont miss!</span>
            <button>Learn More</button>
        </div>
        
        <div class="banner-box banner-box2">
            <h4>spring/summer</h4>
            <h2>upcoming deals</h2>
            <span>The best classic dress is one sale dont miss!</span>
            <button>Collections</button>
        </div>

    </section>


    <section id="banner3" class="section-p1">
        <div class="banner-box">
            <h2>SEASONAL SALE </h2>
            <h3>Winter Collection -50% OFF</h3>
        </div>    
        <div class="banner-box banner-ex1">
            <h2>NEW WINTER JACKETS</h2>
            <h3>Winter Collection -10% OFF</h3>
        </div>    
        <div class="banner-box banner-ex2">
            <h2>MODERN WEARS</h2>
            <h3>New Modern Trends Available Now</h3>
        </div>    
    </section>


    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="/img/logo.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address:</strong>7th Floor, Garvebhavipalya, Hosur Road, Bangalore – 560068, Karnataka, India.</p>
            <p><strong>Phone: </strong> +917904107266</p>
            <p><strong>Hours: </strong> 10:00 - 18:00,Mon - Sat</p>
            <div class="follow">
                <h4>Follow Us</h2>
                    <div class="icon">
                        <!-- add social media icons -->
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>

                    </div>
            </div>
        </div>

        <div class="col about">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms and Conditons</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col account">
            <h4>My Account</h4>
            <a href="#">Sign in</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="/img/pay/app.jpg" alt="">
                <img src="/img/pay/play.jpg" alt="">
            </div>

            <p>Secured Payment Gateways</p>
            <img src="/img/pay/pay.png" alt="">
        </div>

        <div class="copy">
            <p>© 2022 Acme, Inc. All rights reserved.</p>
        </div>
    </footer>







    <script src="index.js"></script>
</body>
</html>