{% extends "esite/base.html" %}
{% load static %}


{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pay.css' %}">
{% endblock %}

{% block content %}
<section id="payheader" class="section-p1">

    <div class="pay-box">
        <div>
            <input type="text">
            <input type="number" name="" id="">
        </div>
        <div>
            <input type="number" name="" id="">
        </div>
        <div>
            <div class="card-bun">
                <input type="text" name="" id="">
            </div>
            <img src="{% static '/img/pay/pay.png' %}" alt="">
        </div>
    </div>

</section>




</section>

{% endblock %}


</body>
</html>