{% extends "esite/base.html" %}
{% load static %}


{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pay.css' %}">
{% endblock %}

{% block content %}
<section id="payheader" class="section-p1">

    <div class="pay-box">
        <h2>Confirm Your Payment</h2>
        <div>
            <label for="owner">Owner</label>
            <input style="margin-right:5px;" name="owner" type="text">
            <label for="cvv">CVV</label>
            <input name="cvv" type="number" name="" id="">
        </div>
        <div>
            <label for="card-num">Card Number</label>
            <input name="card-num" type="number" name="" id="">
        </div>
        <div>
            <div class="card-bun">  
                <select id="month">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <select id="year">
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                </select>
                <img src="{% static '/img/pay/pay.png' %}" alt="">
            </div>
            
        </div>
        <div>
            <button type="submit">CONFIRM</button>
        </div>
    </div>

</section>




</section>

{% endblock %}


</body>
</html>