{% extends "esite/base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
{% endblock %}


{% block content %}

<section id="pro-details" class="section-p1">
    <div class="pro-img">
        {% if product.image %}
        <img src="{{ product.image.url }}"  width="100%" id="MainImage" alt="single product">
        {% endif %}
        <div class="sml-imgs">
            <div class="small-img-col">
                <img src="{% static '/img/products/f1.jpg' %}" class="SmallImages" width="100%" alt="">
            </div>
            <div class="small-img-col">
                <img src="{% static '/img/products/f2.jpg' %}" class="SmallImages" width="100%" alt="">
            </div>
            <div class="small-img-col">
                <img src="{% static '/img/products/f3.jpg' %}" class="SmallImages" width="100%" alt="">
            </div>
            <div class="small-img-col">
                <img src="{% static '/img/products/f4.jpg' %}" class="SmallImages" width="100%" alt="">
            </div>
        </div>
    </div>
    <div class="pro-img-details">
        <h6>Home /T-Shirt </h6>
        <h4>{{product.name}}</h4>
        <h2>{{product.price}}</h2>
        <select name="" id="">
            <option value="">Select Size</option>
            <option value="">XL</option>
            <option value="">XXL</option>
            <option value="">ML</option>
            <option value="">Large</option>
        </select>
        <input type="number" value="1" name="" id="">
        <button>Add to Cart</button>
        <h4>Product Details</h4>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi itaque iusto saepe distinctio! Suscipit eos ipsum quam incidunt, aperiam, numquam amet dicta neque, iste omnis dolorem! Ex maxime rem laborum?</span>
    </div>
</section>


<section id="product1" class="section-p1"> 
    <h2>Similar Products</h2>
    <!-- <p>Summer Collection New Modern Design</p> -->

    <div class="container">

        <div class="pro">
            <img src="{% static '/img/products/f1.jpg' %}" alt="">
            <div class="des">
                <span>Adidas</span>
                <h5>Berhohh T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$56</h4>
            </div>
            <a href=""><i class="fas fa-shopping-cart cart"></i></a>
        </div>
        

        <div class="pro">
            <img src="{% static '/img/products/f2.jpg' %}" alt="">
            <div class="des">
                <span>Adidas</span>
                <h5>Berhohh T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$56</h4>
            </div>
            <a href=""><i class="fas fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="{% static '/img/products/f3.jpg' %}" alt="">
            <div class="des">
                <span>Adidas</span>
                <h5>Berhohh T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$56</h4>
            </div>
            <a href=""><i class="fas fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
            <img src="{% static '/img/products/f4.jpg' %}" alt="">
            <div class="des">
                <span>Adidas</span>
                <h5>Berhohh T-Shirts</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$56</h4>
            </div>
            <a href=""><i class="fas fa-shopping-cart cart"></i></a>
        </div>

    </div>
</section>

<script>
    var MainImage = document.getElementById('MainImage');
    var SmallImage = document.getElementsByClassName('SmallImages');

    SmallImage[0].onclick = function(){
        MainImage.src = SmallImage[0].src;
    }
    SmallImage[1].onclick = function(){
        MainImage.src = SmallImage[1].src;
    }
    SmallImage[2].onclick = function(){
        MainImage.src = SmallImage[2].src;
    }
    SmallImage[3].onclick = function(){
        MainImage.src = SmallImage[3].src;
    }
</script>

{% endblock %}