{% extends "esite/base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/shop.css' %}">
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
{% endblock %}

{% block content %}

    <section id="hero">
        <h2>#stayhome</h2>
        <p>Save more with coupouns & up to 70% off!</p>
    </section>



    <section id="product1" class="section-p1">

        <div class="container">

            {% for product in products %}
            <div class="pro">
                <a href="{% url 'product' product.id %}" style="text-decoration: none;">
                    {% if product.image %}
                    <img src="{{ product.image.url }}"  alt="">
                    {% endif %}
                    <div class="des">
                        <span>{{product.brand_name}}</span>
                        <h5>{{product.display_name}}</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>{{product.price}}</h4>
                    </div>
                </a>
                <a class="update-cart" data-product="{{product.id}}" data-action="add" onclick='return check()'><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            {% endfor %}

        </div>
    </section>

    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
        </a>
    </section>

    <script>
        var updateBtns = document.getElementsByClassName('update-cart');

        for(i=0;i<updateBtns.length;i++){
            updateBtns[i].addEventListener('click',function(){
                var product_id = this.dataset.product;
                var action = this.dataset.action;
                console.log(product_id,action);

                console.log(user);

                if (user == 'AnonymousUser'){
                    console.log('Please login to add to cart');}
                else{
                    updateUserOrder(product_id,action);
                }
            })
        };

        function updateUserOrder(product_id,action){
            console.log("sending data");
        }

    </script>

{% endblock %}
    
</body>
</html>