#payheader{
    width:700px;
    margin:auto;
    border: 1px solid #ccc;
}

.pay-box{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;    
}

.pay-box .card-bun{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}


button{
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: bolder;
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
    background: #FD7F20;
    margin-top: 5px;
}

button:hover{
    background-color: #0B6F5F;
    color: #fff;
    transition: 0.5s ease;
}